################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/.vs/Project1
/Project1/x64/Debug
*.user
/ReduceToZero/x64/Debug/ReduceToZero.tlog
/ReduceToZero/x64/Debug
/FizzBuzz/x64/Debug
/MiddleOfTheLinkedList/x64/Debug
/.vs
/RansomNote/x64/Debug
/MergeStringsAlternatly/x64/Debug
/RemoveDuplicates/x64/Debug
/RotateArray/x64/Debug
/BestStockTime/x64/Debug
/ContainsDuplicate/x64/Debug
/SingleNumber/x64/Debug
/IntersectionOfTwoArraysII/x64/Debug
/PlusOne/x64/Debug
/MoveZeroes/x64/Debug
