################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/.vs/Project1
/Project1/x64/Debug
*.user
/ReduceToZero/x64/Debug/ReduceToZero.tlog
/ReduceToZero/x64/Debug
/FizzBuzz/x64/Debug
/MiddleOfTheLinkedList/x64/Debug
/.vs
/RansomNote/x64/Debug
/MergeStringsAlternatly/x64/Debug
/RemoveDuplicates/x64/Debug
/RotateArray/x64/Debug
/BestStockTime/x64/Debug
/ContainsDuplicate/x64/Debug
/SingleNumber/x64/Debug
/IntersectionOfTwoArraysII/x64/Debug
/PlusOne/x64/Debug
/MoveZeroes/x64/Debug
/TwoSum/x64/Debug
/ValidSudoku/x64/Debug
/ReverseString/x64/Debug
/ReverseInteger/x64/Debug
/FirstUniqChar/x64/Debug
/ValidAnagram/x64/Debug
/ReverseString/x64/Debug/ReverseString.log
/ReverseString/x64/Debug/ReverseString.Build.CppClean.log
/RotateImage/x64/Debug/RotateImage.Build.CppClean.log
/RotateImage/x64/Debug/RotateImage.ilk
/RotateImage/x64/Debug/Source.obj
/RotateImage/x64/Debug/vc143.idb
/RotateImage/x64/Debug/vc143.pdb
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/CL.command.1.tlog
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/Cl.items.tlog
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/CL.read.1.tlog
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/CL.write.1.tlog
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/link.command.1.tlog
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/link.read.1.tlog
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/link.write.1.tlog
/ValidPalindrom/x64/Debug/ValidPalindrom.tlog/ValidPalindrom.lastbuildstate
/ValidPalindrom/x64/Debug
/StringToInteger/x64/Debug
/strStr/x64/Debug
/LongestCommonPrefix/x64/Debug
/DeleteNodeInLinkedList/x64/Debug
/RemoveNthNode/x64/Debug
/ReverseList/x64/Debug
/UnitTests/x64/Debug
/MergeTwoSortedLists/x64/Debug
